*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    text-align: center;
    background-color: rgb(6, 116, 140);
    color: white;
}

.container-2{
    border: 1px solid white;
    height: 10rem;
    margin: 5rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

button{
    padding: 10px 15px;
    background-color: rgb(6, 116, 140);
    border:none;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}

.hidden-content{
    display:none;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

.hidden-content.reveal-btn{
    display: block;
}