*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    text-align: center;
   background-color: rgb(6, 116, 140);
   color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 5rem 10rem;
}

.container h1{
    font-weight: 10
}

.boxes{
    padding: 4rem 1rem;
    border: 1px solid white;
    border-radius: 15px;
}

button{
    background-color: rgb(6, 116, 140);
    color: white;
    padding: 10px 30px;
    margin-top:4rem;
    border: 1px solid white;
    border-radius: 10px;
}